apiVersion: v1
kind: Service
metadata:
  labels:
    app: python-demo-app
  name: python-demo-app
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: python-demo-app
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: python-demo-app
  name: python-demo-app-metrics
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: python-demo-app
